In [1812]:
!pip install sktime

Requirement already satisfied: sktime in c:\users\danne\anaconda3\lib\site-packages (0.36.0)
Requirement already satisfied: joblib<1.5,>=1.2.0 in c:\users\danne\anaconda3\lib\site-packages (from sktime) (1.4.2)
Requirement already satisfied: numpy<2.3,>=1.21 in c:\users\danne\anaconda3\lib\site-packages (from sktime) (1.26.4)
Requirement already satisfied: packaging in c:\users\danne\anaconda3\lib\site-packages (from sktime) (24.1)
Requirement already satisfied: pandas<2.3.0,>=1.1 in c:\users\danne\anaconda3\lib\site-packages (from sktime) (2.2.2)
Requirement already satisfied: scikit-base<0.13.0,>=0.6.1 in c:\users\danne\anaconda3\lib\site-packages (from sktime) (0.12.0)
Requirement already satisfied: scikit-learn<1.7.0,>=0.24 in c:\users\danne\anaconda3\lib\site-packages (from sktime) (1.5.1)
Requirement already satisfied: scipy<2.0.0,>=1.2 in c:\users\danne\anaconda3\lib\site-packages (from sktime) (1.13.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\danne\anaconda3\lib\site-packages (from pandas<2.3.0,>=1.1->sktime) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\danne\anaconda3\lib\site-packages (from pandas<2.3.0,>=1.1->sktime) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\danne\anaconda3\lib\site-packages (from pandas<2.3.0,>=1.1->sktime) (2023.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\danne\anaconda3\lib\site-packages (from scikit-learn<1.7.0,>=0.24->sktime) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\danne\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas<2.3.0,>=1.1->sktime) (1.16.0)

In [1813]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from time import sleep
from sklearn.utils import shuffle
from sklearn.metrics import accuracy_score
from sktime.classification.kernel_based import RocketClassifier
from sktime.datatypes import convert_to
from sktime.datatypes._panel._convert import from_nested_to_3d_numpy
from sktime.datatypes import check_is_mtype

In [1814]:
nr_of_samples_in_one_batch = 100

In [1815]:
def convert(df, list_cols=None, label_col='label'):
    if list_cols is None:
        list_cols = ['acc_x', 'acc_y', 'acc_z', 'gyr_x', 'gyr_y', 'gyr_z']

    # 1. Reset index so we have a 'instance' column
    df = df.reset_index(drop=True).rename_axis('instance').reset_index()

    # 2. Explode list columns
    df = df.explode(list_cols, ignore_index=True)

    # 3. Create a 'time' column for each exploded element
    df['time'] = df.groupby('instance').cumcount()

    # 4. Set a MultiIndex of (instance, time)
    df = df.set_index(['instance', 'time'])

    # 5. Convert all non-label columns to float
    numeric_cols = [col for col in df.columns if col != label_col]
    df[numeric_cols] = df[numeric_cols].astype(float)

    return df

In [1816]:
def read_X_samples(X, nr, samples):
    return samples.iloc[(nr*X):(nr*X+X), :]

In [1817]:
def addEntryToDataFrame(df, data, label):
    new_entry = {f"feature_{i}": [np.array(data.iloc[:, i].values, dtype=np.float64)]  # Wrap in list
                 for i in range(data.shape[1])}
    new_entry["label"] = [label]  # Wrap label in list
    
    # Convert to DataFrame
    df_entry = pd.DataFrame(new_entry)

    # Concatenate
    df = pd.concat([df, df_entry], ignore_index=True)
    return df

In [1818]:
def concatenate_dataFrames(dF1, dF2):
    frame = [dF1, dF2]
    return pd.concat(frame, ignore_index=True)

In [1819]:
def renameFeatures(dF):
    preferred_names = ["acc_x", "acc_y", "acc_z", "gyr_x", "gyr_y", "gyr_z", "label"]
    dF.columns = preferred_names[:len(preferred_names)]
    return dF

In [1820]:
def addWholeDatasetToDataFrame(dF, data, label):
    nr_of_batches = round(data.dropna(how='all').shape[0] / nr_of_samples_in_one_batch)
    
    for i in range(nr_of_batches):
        batch = read_X_samples(nr_of_samples_in_one_batch, i, data)
        dF = addEntryToDataFrame(dF, batch, label)
    dF = renameFeatures(dF)
    return dF

In [1821]:
def readFile_addToDataFrame(filename, dF, label_name):
    motion = pd.read_csv(filename, na_filter=False, sep=r"\s+", header=None, dtype=np.float64)
    dF = addWholeDatasetToDataFrame(dF, motion, label_name)
    dF["label"] = dF["label"].astype("category")
    return dF

In [1822]:
def shuffle_instances(df):
    # Get unique instance values and shuffle them
    shuffled_instances = shuffle(df.index.levels[0])  # Shuffle the instances
    
    # Reorder the DataFrame based on shuffled instances while keeping time order intact
    df_shuffled = pd.concat([df.loc[i] for i in shuffled_instances], keys=shuffled_instances)

    return df_shuffled

In [1823]:
dF_updown = pd.DataFrame()
dF_circles = pd.DataFrame()

In [1824]:
dF_updown = readFile_addToDataFrame('up_down2.txt', dF_updown, 'Up and down')
dF_circles = readFile_addToDataFrame('circles2.txt', dF_circles, 'Circle')

In [1825]:
dF_updown['acc_x'].dtype, dF_updown['acc_x'][0].dtype, dF_updown['label'].dtype

(dtype('O'),
 dtype('float64'),
 CategoricalDtype(categories=['Up and down'], ordered=False, categories_dtype=object))

In [1826]:
print(check_is_mtype(dF_updown, "nested_univ")) # Check if type is correct for sktime

False

In [1827]:
print(type(dF_updown.iloc[0, 0]))

<class 'numpy.ndarray'>

In [1828]:
dF_updown.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   acc_x   33 non-null     object
 1   acc_y   33 non-null     object
 2   acc_z   33 non-null     object
 3   gyr_x   33 non-null     object
 4   gyr_y   33 non-null     object
 5   gyr_z   33 non-null     object
 6   label   33 non-null     category
dtypes: category(1), object(6)
memory usage: 1.8+ KB

In [1829]:
dF_circles

,acc_x,acc_y,acc_z,gyr_x,gyr_y,gyr_z,label
0,"[-42.97, -50.78, -50.29, -42.97, -36.13, -40.5...","[1.95, 2.44, 0.0, 10.25, 7.81, 0.49, 0.98, 6.8...","[1033.2, 1032.23, 1041.5, 1035.64, 1046.88, 10...","[-1.37, -1.34, -0.43, -2.44, -1.52, -2.35, -3....","[-0.91, -2.8, -1.25, -1.25, -2.93, -0.24, -2.1...","[0.67, 1.49, -0.98, -2.04, -1.71, 0.09, -1.16,...",Circle
1,"[-57.62, -45.41, -48.34, -56.15, -62.5, -39.06...","[-2.44, 10.74, 5.86, 0.98, -5.37, 0.49, 6.84, ...","[1041.5, 1060.55, 1041.02, 1038.57, 1042.48, 1...","[0.3, -1.34, 0.15, -0.21, -1.37, -3.57, -3.41,...","[-1.55, -2.74, -2.32, -2.87, -0.7, -1.22, -2.3...","[-0.52, 1.16, -0.46, 0.46, 1.49, -2.9, -0.15, ...",Circle
2,"[-41.99, -48.83, -35.16, -48.34, -51.27, -48.3...","[-1.46, -7.32, -6.35, -2.93, -0.49, 5.86, 2.44...","[1042.97, 1042.48, 1041.5, 1045.41, 1050.78, 1...","[0.7, -2.01, 0.52, -0.06, 1.22, -1.95, -1.19, ...","[-1.1, -1.31, -1.46, -2.47, -0.82, 0.49, -0.98...","[1.62, -0.67, 1.01, -1.16, 1.65, -0.24, -0.61,...",Circle
3,"[-54.2, -45.9, -50.29, -40.04, -34.67, -44.43,...","[3.91, -8.3, -0.49, -0.98, 8.79, 5.86, -10.74,...","[1041.99, 1045.41, 1032.23, 1035.16, 1042.48, ...","[-0.95, -0.37, -1.13, -1.8, -0.4, -0.27, -0.37...","[0.09, -1.49, -1.25, 0.52, -0.21, -3.6, 0.49, ...","[-2.44, 1.07, -2.01, -0.67, 0.27, 1.65, -1.71,...",Circle
4,"[-42.48, -54.69, -56.64, -33.2, -45.9, -41.99,...","[-0.49, -7.81, -4.39, -7.81, 3.42, 12.7, -2.93...","[1039.06, 1046.39, 1042.48, 1045.9, 1035.64, 1...","[0.43, -1.71, -1.83, -2.71, -0.46, -1.55, -2.9...","[-1.34, 0.76, -1.98, 0.03, 0.82, -0.95, -0.37,...","[1.4, 0.61, -0.18, -1.22, -0.7, -0.12, -1.46, ...",Circle
5,"[-50.78, -43.46, -40.04, -57.62, -45.41, -46.8...","[-8.79, -3.42, -5.37, -5.37, -4.88, 4.39, 2.93...","[1031.25, 1055.18, 1031.74, 1032.23, 1047.85, ...","[-1.52, -1.74, -1.13, 0.37, 0.09, 1.04, -1.89,...","[-0.09, -2.53, -2.44, 0.09, -2.9, 0.18, -0.82,...","[-1.04, 1.04, 0.61, -1.01, -0.73, -1.19, 1.89,...",Circle
6,"[-210.94, -226.56, -7.81, -177.73, -324.71, -1...","[19.04, -121.58, -104.98, 169.43, -37.6, -79.5...","[1079.1, 895.51, 1018.07, 1042.48, 1035.16, 10...","[0.4, -6.74, 5.37, 7.07, -12.74, -16.46, -7.56...","[-0.88, 4.21, 0.82, -0.21, 9.66, 16.04, 23.05,...","[34.97, 24.76, 15.64, 19.24, 24.6, -3.23, -11....",Circle
7,"[-69.34, -24.41, -23.93, -24.9, -23.93, -44.92...","[-30.27, 7.32, -2.93, -0.49, -17.58, -89.84, -...","[1029.3, 1025.39, 1028.32, 1045.9, 1035.64, 10...","[-0.7, -0.98, -3.84, -2.07, -3.35, -1.19, 0.03...","[-2.38, -1.1, -1.86, 0.15, -1.71, -0.03, -0.61...","[-1.62, -1.01, -0.98, -1.92, 1.22, 7.62, 7.96,...",Circle
8,"[-8.3, -18.55, -24.41, -15.63, -20.02, -23.44,...","[-4.39, -0.49, -5.37, -9.28, -7.81, 9.28, -0.4...","[1039.55, 1046.88, 1038.09, 1053.71, 1036.62, ...","[-1.89, 0.09, -1.4, -2.1, 1.19, -1.68, -1.01, ...","[-1.07, -1.37, -5.12, -1.55, -0.18, -0.76, -2....","[0.88, 0.3, 0.49, 0.88, -1.74, 2.13, 1.07, -3....",Circle
9,"[-17.09, -14.65, -21.0, -22.95, -17.09, -23.44...","[-0.98, -7.81, -15.63, 4.88, 0.98, 6.35, 0.49,...","[1042.48, 1040.53, 1039.06, 1035.64, 1044.92, ...","[-1.43, -1.8, -0.12, -0.03, -1.55, 0.7, -1.13,...","[-0.85, -1.62, -2.2, -0.85, -2.2, -0.91, -2.62...","[0.15, -0.21, 1.98, 2.35, 0.73, 1.4, 2.59, -0....",Circle
10,"[-14.65, -12.21, -11.72, -9.28, -11.23, -15.63...","[-2.44, 3.42, 13.18, -6.84, -10.74, -0.49, -0....","[1041.99, 1037.11, 1034.18, 1034.18, 1039.55, ...","[-0.58, -1.49, -2.38, -2.35, -3.35, -1.95, -2....","[0.0, -4.12, -2.01, -0.4, 0.06, -0.64, -1.16, ...","[1.46, -1.77, -1.01, -2.01, -2.62, 0.37, -0.06...",Circle
11,"[355.96, 371.09, 487.79, 295.41, 164.55, 183.5...","[150.39, 58.59, 272.95, 181.64, -117.19, -331....","[963.87, 1219.24, 732.91, 1187.01, 1084.47, 10...","[-0.24, -2.44, 3.2, 0.61, -2.65, 10.3, 6.43, -...","[1.07, 4.66, -0.82, -6.37, 1.28, -1.16, 1.31, ...","[-28.69, -13.14, -10.18, 1.19, 13.32, 5.24, -1...",Circle
12,"[-153.81, -339.36, -193.85, 2.44, -201.66, -11...","[189.94, 266.6, 397.95, 435.06, 322.75, 237.3,...","[797.85, 771.0, 1057.13, 839.84, 1102.05, 1280...","[-4.54, -7.96, -5.79, 1.8, 6.07, -9.3, -3.66, ...","[0.15, -3.32, 7.62, 8.05, 2.13, 0.55, -0.64, -...","[27.77, 8.84, -13.66, -12.1, -21.55, -30.34, -...",Circle
13,"[-281.74, -32.71, -201.17, -126.95, -340.33, -...","[-355.96, -254.39, -45.9, -67.38, -242.19, 54....","[1074.22, 1288.09, 944.34, 1117.68, 1242.19, 7...","[-1.95, 6.31, -6.16, -5.15, 5.52, 5.4, 1.8, -5...","[-1.65, -5.27, 2.9, 9.12, -6.28, 3.11, -3.32, ...","[50.21, 44.45, 64.85, 65.55, 56.86, 39.18, 44....",Circle
14,"[-57.62, 235.84, 438.48, 193.36, 451.17, 537.6...","[-90.82, 224.12, 99.12, 41.02, 59.57, -68.36, ...","[1774.41, 1105.96, 1248.05, 1201.17, 1005.86, ...","[-10.55, -1.49, -2.68, -4.57, -0.49, 3.41, 5.9...","[-7.87, 1.8, -5.58, 7.84, -5.06, 1.95, -2.29, ...","[-41.25, -48.6, -54.85, -29.66, -21.16, 5.73, ...",Circle
15,"[-393.07, -368.65, -28.32, -392.09, -111.33, -...","[3.91, 115.72, 166.02, 267.09, 403.32, 437.5, ...","[1233.4, 1035.64, 814.94, 1010.74, 1133.3, 117...","[-0.46, -1.01, -3.81, -1.31, -7.68, -0.15, -8....","[1.16, 9.36, 1.37, -0.12, 1.55, 0.37, -1.34, 1...","[24.45, 12.59, -0.49, -17.8, -34.42, -39.3, -2...",Circle
16,"[347.17, 481.93, 171.87, 169.43, 118.16, 101.5...","[-41.5, -126.46, -93.75, -218.75, -321.29, -36...","[1102.05, 888.67, 1205.57, 1063.48, 1013.18, 1...","[-9.51, 3.38, 2.8, 4.27, 2.56, -4.94, -6.28, -...","[0.91, -0.24, 2.32, 0.67, 2.07, -2.2, -5.3, -0...","[-11.01, -12.01, -1.43, 8.72, 21.83, 44.33, 35...",Circle
17,"[-268.55, -344.73, -272.95, -185.55, -80.08, -...","[32.23, -64.94, 229.98, 411.62, 704.1, 427.73,...","[963.38, 1009.28, 1240.23, 1033.2, 838.38, 102...","[1.13, 0.06, 2.38, 7.38, -3.9, -2.84, 0.55, -0...","[-3.2, -1.89, 5.3, -1.1, 1.95, 7.74, 12.5, -0....","[30.3, 10.24, -27.16, -42.53, -58.35, -77.44, ...",Circle
18,"[302.73, 398.44, 222.17, -45.41, 53.22, 166.5,...","[-175.78, -274.41, -292.48, -471.68, -174.32, ...","[1074.22, 1006.35, 1299.8, 1222.17, 1010.74, 7...","[1.74, 4.51, 1.01, -2.2, -7.74, -2.2, -8.05, -...","[6.34, 0.3, -4.97, -14.73, 0.15, 6.55, -0.98, ...","[12.9, 33.9, 38.93, 37.2, 23.63, 45.73, 54.76,...",Circle
19,"[-231.93, -386.72, -373.05, -196.78, -295.41, ...","[248.54, 289.06, 531.25, 477.54, 379.39, 569.3...","[1053.71, 1180.66, 1034.18, 1072.27, 1129.39, ...","[-3.84, 3.32, 0.85, -3.2, 1.46, 8.93, 0.49, -1...","[3.02, -9.09, -5.88, -2.13, 2.8, 4.66, -6.8, -...","[-1.62, -24.54, -52.29, -67.68, -90.7, -92.2, ...",Circle
20,"[-613.28, -254.88, -612.3, -325.2, -353.03, -3...","[-162.11, -182.62, -250.49, -125.49, 11.72, 14...","[1081.05, 1002.93, 1286.62, 993.65, 1052.25, 9...","[-5.49, 2.59, -7.93, -3.81, -8.81, -8.72, -5.1...","[-6.59, -3.2, -1.8, -3.63, 8.38, 3.78, 5.79, -...","[54.73, 48.08, 28.57, 37.56, 25.46, -6.92, -9....",Circle
21,"[539.55, 377.93, 402.83, 376.95, 182.13, 92.29...","[-229.0, -528.81, -337.89, -461.91, -413.09, -...","[1056.64, 1160.64, 926.27, 1046.88, 987.3, 999...","[-4.36, 10.46, 3.69, 1.92, 1.43, -3.69, -3.84,...","[-2.59, 0.03, 0.64, -1.13, -5.43, -5.0, -8.75,...","[-23.29, -10.88, 2.5, 10.46, 16.71, 27.56, 50....",Circle
22,"[144.04, 298.34, 170.9, 499.02, 432.62, 347.66...","[430.18, 408.2, 357.91, 604.98, 258.3, -4.39, ...","[1097.17, 1009.77, 1285.16, 811.04, 1317.87, 9...","[-1.37, -9.18, -5.61, -2.87, -4.91, 4.18, -4.4...","[0.85, 8.9, 8.57, -4.6, 5.82, -6.68, -3.75, -2...","[-49.12, -24.94, -26.31, 3.57, 19.91, 9.18, 24...",Circle
23,"[-395.51, -498.54, -338.38, -519.04, -447.75, ...","[21.48, 91.31, -111.82, 88.38, 246.09, 378.91,...","[1122.56, 972.17, 965.33, 1164.55, 1137.7, 945...","[-16.83, -5.91, 2.87, -7.38, -1.83, 1.55, 2.2,...","[-5.95, 6.28, -1.25, 1.8, 1.55, -3.84, -6.46, ...","[67.5, 68.96, 55.06, 39.02, 10.91, 5.15, -4.51...",Circle
24,"[361.82, 388.67, 131.84, -125.49, -54.2, -102....","[-683.11, -364.26, -178.71, -101.07, -140.14, ...","[1007.32, 937.01, 844.73, 1265.14, 1069.34, 99...","[28.02, -47.93, -0.82, -11.28, -3.69, -5.52, -...","[-3.6, -4.36, 2.87, 1.1, -1.98, 6.28, -0.85, 1...","[53.81, 42.96, 13.05, 35.24, 42.44, 86.92, 83....",Circle
25,"[-20.02, 324.22, 269.04, 602.54, 750.49, 614.2...","[551.76, 621.09, 183.59, 372.56, 151.86, -208....","[1441.41, 959.96, 1302.25, 737.79, 1080.08, 10...","[-9.51, 7.93, 9.3, -7.56, -1.95, 5.06, -1.37, ...","[-5.98, -12.32, -2.99, 12.04, -1.62, 0.95, -3....","[-66.01, -65.61, -92.44, -64.82, -45.46, -24.6...",Circle
26,"[-382.32, -578.61, -674.32, -618.65, -388.67, ...","[298.83, 86.91, 117.19, 433.11, 433.11, 770.02...","[1101.07, 957.52, 1072.27, 995.61, 1161.13, 80...","[-8.14, -2.84, 6.71, 1.28, -1.65, 8.11, -2.68,...","[6.16, -9.15, -11.62, -10.79, 11.13, 3.72, -7....","[21.8, 28.93, -4.09, -5.88, -20.67, -34.33, -2...",Circle
27,"[-58.59, -135.25, -383.79, -116.21, -420.41, -...","[-490.72, -337.89, -293.95, -271.0, -236.33, -...","[980.96, 1036.62, 930.18, 1032.71, 887.7, 1014...","[-0.82, -9.57, -2.44, -6.28, -0.95, -5.4, -1.6...","[3.93, 0.34, 0.82, -1.92, 2.68, 4.09, -2.71, -...","[44.3, 58.75, 60.91, 67.16, 72.41, 68.2, 65.37...",Circle
28,"[266.6, 419.92, 410.16, 346.19, 466.31, 288.09...","[299.32, 23.93, 19.53, -56.64, -139.16, -397.4...","[990.72, 1385.25, 1018.55, 863.77, 973.63, 112...","[2.53, -1.04, 1.55, 8.48, 4.09, 3.78, 2.8, -3....","[0.49, 1.1, 0.37, 2.38, -3.78, -5.91, -0.61, 7...","[-99.12, -79.24, -43.69, -16.89, -13.45, -32.3...",Circle
29,"[-453.61, -464.84, -271.97, -64.45, -67.87, 28...","[209.47, 184.57, 251.95, 479.98, 255.37, 461.4...","[883.3, 1047.85, 865.72, 1052.73, 982.91, 1218...","[-9.57, -7.71, -4.33, -2.87, 5.15, 2.8, 0.15, ...","[6.62, -5.03, 0.37, -8.84, 2.65, 1.46, 3.23, -...","[37.07, 29.33, 13.05, 1.49, -27.13, -57.74, -7...",Circle
30,"[153.32, 273.93, -173.83, -154.79, -264.16, -2...","[-393.07, -276.86, -176.76, -289.55, -84.47, -...","[781.74, 1073.73, 914.55, 1046.88, 1167.48, 92...","[2.13, -12.47, 1.83, -1.89, -5.52, -5.52, -2.9...","[21.83, 1.86, -10.3, 4.27, -4.27, 11.59, 0.98,...","[26.28, 56.59, 71.1, 30.95, 57.71, 70.98, 75.7...",Circle
31,"[490.23, 420.9, 466.31, 315.92, 477.05, 538.57...","[265.14, 34.67, 218.26, 127.93, -208.5, -326.1...","[1049.8, 1147.95, 1049.8, 947.75, 1036.13, 843...","[-2.71, 5.52, -5.64, -1.16, 0.4, 0.61, -2.47, ...","[-3.99, 5.52, -0.52, -0.52, 4.36, 8.29, -1.31,...","[-59.6, -45.12, -23.32, -16.19, 3.6, 6.31, 33....",Circle
32,"[-673.83, -483.89, -436.04, -239.26, -69.34, 2...","[48.34, 356.93, 545.41, 440.43, 520.51, 226.07...","[986.82, 1099.61, 1068.85, 969.24, 801.27, 989...","[-3.9, -5.0, 6.68, 5.64, 6.55, 5.3, -4.94, -3....","[-4.45, 3.23, -2.1, -0.4, 3.93, -6.13, -0.21, ...","[11.55, -23.35, -25.49, -8.35, -22.71, -27.35,...",Circle
33,"[299.8, 77.15, 96.68, -70.31, -413.09, -536.13...","[-337.4, -215.33, 23.93, -89.36, -138.18, 85.9...","[1066.41, 1003.91, 973.63, 997.07, 1020.02, 86...","[-7.47, -2.38, -7.84, 0.34, -5.18, -1.46, 1.28...","[-9.66, -1.86, -5.12, -2.53, -6.43, 3.2, 0.61,...","[42.07, 67.01, 75.21, 43.05, 50.0, 60.21, 38.5...",Circle

In [1830]:
totalDataFrame = concatenate_dataFrames(dF_circles, dF_updown)

In [1831]:
dF_circles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   acc_x   34 non-null     object
 1   acc_y   34 non-null     object
 2   acc_z   34 non-null     object
 3   gyr_x   34 non-null     object
 4   gyr_y   34 non-null     object
 5   gyr_z   34 non-null     object
 6   label   34 non-null     category
dtypes: category(1), object(6)
memory usage: 1.9+ KB

In [1832]:
dF_updown.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   acc_x   33 non-null     object
 1   acc_y   33 non-null     object
 2   acc_z   33 non-null     object
 3   gyr_x   33 non-null     object
 4   gyr_y   33 non-null     object
 5   gyr_z   33 non-null     object
 6   label   33 non-null     category
dtypes: category(1), object(6)
memory usage: 1.8+ KB

In [1833]:
totalDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   acc_x   67 non-null     object
 1   acc_y   67 non-null     object
 2   acc_z   67 non-null     object
 3   gyr_x   67 non-null     object
 4   gyr_y   67 non-null     object
 5   gyr_z   67 non-null     object
 6   label   67 non-null     object
dtypes: object(7)
memory usage: 3.8+ KB

In [1834]:
#for row in range(len(totalDataFrame)):
 #   print(totalDataFrame.iloc[row])

In [1835]:
totalDataFrame

,acc_x,acc_y,acc_z,gyr_x,gyr_y,gyr_z,label
0,"[-42.97, -50.78, -50.29, -42.97, -36.13, -40.5...","[1.95, 2.44, 0.0, 10.25, 7.81, 0.49, 0.98, 6.8...","[1033.2, 1032.23, 1041.5, 1035.64, 1046.88, 10...","[-1.37, -1.34, -0.43, -2.44, -1.52, -2.35, -3....","[-0.91, -2.8, -1.25, -1.25, -2.93, -0.24, -2.1...","[0.67, 1.49, -0.98, -2.04, -1.71, 0.09, -1.16,...",Circle
1,"[-57.62, -45.41, -48.34, -56.15, -62.5, -39.06...","[-2.44, 10.74, 5.86, 0.98, -5.37, 0.49, 6.84, ...","[1041.5, 1060.55, 1041.02, 1038.57, 1042.48, 1...","[0.3, -1.34, 0.15, -0.21, -1.37, -3.57, -3.41,...","[-1.55, -2.74, -2.32, -2.87, -0.7, -1.22, -2.3...","[-0.52, 1.16, -0.46, 0.46, 1.49, -2.9, -0.15, ...",Circle
2,"[-41.99, -48.83, -35.16, -48.34, -51.27, -48.3...","[-1.46, -7.32, -6.35, -2.93, -0.49, 5.86, 2.44...","[1042.97, 1042.48, 1041.5, 1045.41, 1050.78, 1...","[0.7, -2.01, 0.52, -0.06, 1.22, -1.95, -1.19, ...","[-1.1, -1.31, -1.46, -2.47, -0.82, 0.49, -0.98...","[1.62, -0.67, 1.01, -1.16, 1.65, -0.24, -0.61,...",Circle
3,"[-54.2, -45.9, -50.29, -40.04, -34.67, -44.43,...","[3.91, -8.3, -0.49, -0.98, 8.79, 5.86, -10.74,...","[1041.99, 1045.41, 1032.23, 1035.16, 1042.48, ...","[-0.95, -0.37, -1.13, -1.8, -0.4, -0.27, -0.37...","[0.09, -1.49, -1.25, 0.52, -0.21, -3.6, 0.49, ...","[-2.44, 1.07, -2.01, -0.67, 0.27, 1.65, -1.71,...",Circle
4,"[-42.48, -54.69, -56.64, -33.2, -45.9, -41.99,...","[-0.49, -7.81, -4.39, -7.81, 3.42, 12.7, -2.93...","[1039.06, 1046.39, 1042.48, 1045.9, 1035.64, 1...","[0.43, -1.71, -1.83, -2.71, -0.46, -1.55, -2.9...","[-1.34, 0.76, -1.98, 0.03, 0.82, -0.95, -0.37,...","[1.4, 0.61, -0.18, -1.22, -0.7, -0.12, -1.46, ...",Circle
...,...,...,...,...,...,...,...
62,"[-69.82, -174.8, -341.31, -406.74, -286.13, -2...","[71.78, -131.35, -372.56, -536.62, -589.84, -5...","[1024.9, 1546.39, 1828.13, 2005.86, 2131.35, 2...","[108.9, 108.11, 88.6, 68.35, 33.05, -2.01, -2....","[-67.93, -87.96, -101.89, -87.07, -53.81, -47....","[-2.93, 7.29, -13.63, -27.87, -21.16, -23.81, ...",Up and down
63,"[-122.56, -74.71, -38.57, 7.81, -0.98, -114.26...","[274.41, 166.5, 139.16, 107.42, 178.22, 345.21...","[259.77, 142.09, 30.76, 6.35, -49.8, -68.36, -...","[-65.61, -42.8, -30.52, -29.12, -16.04, 12.59,...","[30.58, 44.18, 50.64, 37.93, 4.79, -23.38, -37...","[23.02, 30.43, 36.89, 38.63, 21.52, -6.86, -17...",Up and down
64,"[-153.32, -193.36, -132.32, 10.25, -106.93, -2...","[-476.07, -490.23, -624.51, -532.71, -372.07, ...","[1956.54, 2165.53, 2293.95, 1994.63, 1751.95, ...","[10.82, -7.1, -30.21, -60.12, -97.71, -107.59,...","[6.37, 58.84, 31.65, -6.71, -15.37, -10.15, 8....","[17.68, 25.21, 24.18, 6.04, -8.11, -7.07, 8.45...",Up and down
65,"[-37.11, -13.18, -82.52, -35.16, -89.36, -174....","[330.57, 314.45, 230.47, 116.7, 53.22, -56.64,...","[8.3, 141.11, 514.16, 786.13, 1224.61, 1683.11...","[67.2, 100.18, 123.78, 126.16, 125.98, 125.61,...","[-1.13, -12.07, -28.81, -52.84, -56.01, -66.65...","[9.05, 13.38, 12.65, 0.98, -26.98, -38.72, -37...",Up and down
66,"[-94.24, -62.99, -59.57, -54.2, -38.57, -44.92...","[100.59, 75.68, 48.83, 196.29, 208.01, 177.73,...","[987.3, 762.21, 553.71, 396.97, 273.44, 146.97...","[-115.27, -108.63, -105.52, -95.79, -73.05, -5...","[-2.68, 19.45, 23.84, 28.87, 31.37, 29.15, 21....","[7.47, 22.2, 5.43, 7.93, 12.77, 12.53, 11.49, ...",Up and down

In [1836]:
totalDataFrame = convert(totalDataFrame)

In [1837]:
totalDataFrame

                acc_x   acc_y    acc_z   gyr_x  gyr_y  gyr_z        label
instance time
0        0     -42.97    1.95  1033.20   -1.37  -0.91   0.67       Circle
         1     -50.78    2.44  1032.23   -1.34  -2.80   1.49       Circle
         2     -50.29    0.00  1041.50   -0.43  -1.25  -0.98       Circle
         3     -42.97   10.25  1035.64   -2.44  -1.25  -2.04       Circle
         4     -36.13    7.81  1046.88   -1.52  -2.93  -1.71       Circle
...               ...     ...      ...     ...    ...    ...          ...
66       95     17.09  345.21   120.12  109.05 -11.01  -0.64  Up and down
         96     -4.88  309.08   415.04  141.52 -24.48   1.37  Up and down
         97     27.34  197.27   721.68  154.60 -32.01  -0.37  Up and down
         98      7.81  142.09  1186.52  158.63 -43.96  -4.27  Up and down
         99   -106.93  -36.62  1777.34  147.44 -66.68 -19.21  Up and down

[6681 rows x 7 columns]

In [1838]:
totalDataFrame_shuffled = shuffle_instances(totalDataFrame)

In [1839]:
totalDataFrame_shuffled

                acc_x   acc_y    acc_z  gyr_x  gyr_y  gyr_z   label
instance time
21       0     539.55 -229.00  1056.64  -4.36  -2.59 -23.29  Circle
         1     377.93 -528.81  1160.64  10.46   0.03 -10.88  Circle
         2     402.83 -337.89   926.27   3.69   0.64   2.50  Circle
         3     376.95 -461.91  1046.88   1.92  -1.13  10.46  Circle
         4     182.13 -413.09   987.30   1.43  -5.43  16.71  Circle
...               ...     ...      ...    ...    ...    ...     ...
9        95    -14.16    0.49  1033.69  -2.44  -2.71  -0.85  Circle
         96    -24.41   -0.49  1043.46  -1.65   0.21   0.18  Circle
         97    -18.55    0.49  1041.02   0.79  -1.16  -1.46  Circle
         98    -27.83    0.49  1039.06  -1.28  -1.01   2.38  Circle
         99    -20.02    8.79  1044.43   0.49  -0.37  -0.21  Circle

[6681 rows x 7 columns]

In [1840]:
totalDataFrame_shuffled.loc[39]

      acc_x  acc_y    acc_z  gyr_x  gyr_y  gyr_z        label
time
0     -8.30   6.84  1034.67  -0.67  -0.06  -0.98  Up and down
1    -18.07  16.60  1039.06  -1.52  -0.27  -1.55  Up and down
2     -6.35   9.77  1034.67  -1.07  -0.37   0.49  Up and down
3     -7.81   8.30  1040.04  -1.65  -2.56  -2.87  Up and down
4     -5.37   1.95  1046.88   0.15   0.43  -1.59  Up and down
...     ...    ...      ...    ...    ...    ...          ...
95    10.25 -17.09  1025.88  -6.89   2.16  -5.27  Up and down
96    34.67  12.21  1030.27  -7.56   1.62  -8.72  Up and down
97    15.63  23.44  1054.69  -8.32   0.98  -4.88  Up and down
98    -6.84   7.81  1045.41  -8.38   0.15  -4.15  Up and down
99    -3.42   4.39  1045.90  -3.02   1.62  -3.05  Up and down

[100 rows x 7 columns]

In [1841]:
y_data = totalDataFrame_shuffled['label']

In [1842]:
X_data = totalDataFrame_shuffled.drop('label', axis=1)

In [1843]:
y_data

instance  time
21        0       Circle
          1       Circle
          2       Circle
          3       Circle
          4       Circle
                   ...
9         95      Circle
          96      Circle
          97      Circle
          98      Circle
          99      Circle
Name: label, Length: 6681, dtype: object

In [1844]:
X_data

                acc_x   acc_y    acc_z  gyr_x  gyr_y  gyr_z
instance time
21       0     539.55 -229.00  1056.64  -4.36  -2.59 -23.29
         1     377.93 -528.81  1160.64  10.46   0.03 -10.88
         2     402.83 -337.89   926.27   3.69   0.64   2.50
         3     376.95 -461.91  1046.88   1.92  -1.13  10.46
         4     182.13 -413.09   987.30   1.43  -5.43  16.71
...               ...     ...      ...    ...    ...    ...
9        95    -14.16    0.49  1033.69  -2.44  -2.71  -0.85
         96    -24.41   -0.49  1043.46  -1.65   0.21   0.18
         97    -18.55    0.49  1041.02   0.79  -1.16  -1.46
         98    -27.83    0.49  1039.06  -1.28  -1.01   2.38
         99    -20.02    8.79  1044.43   0.49  -0.37  -0.21

[6681 rows x 6 columns]

In [1845]:
X_data_train, X_data_test, y_data_train, y_data_test = train_test_split(
    X_data, y_data, test_size=0.2, random_state=42, shuffle=False
)

In [1846]:
X_data_train

                acc_x   acc_y    acc_z   gyr_x  gyr_y  gyr_z
instance time
21       0     539.55 -229.00  1056.64   -4.36  -2.59 -23.29
         1     377.93 -528.81  1160.64   10.46   0.03 -10.88
         2     402.83 -337.89   926.27    3.69   0.64   2.50
         3     376.95 -461.91  1046.88    1.92  -1.13  10.46
         4     182.13 -413.09   987.30    1.43  -5.43  16.71
...               ...     ...      ...     ...    ...    ...
64       58     87.89 -601.07  2120.61  -61.37  21.59  11.89
         59      8.30 -378.91  1751.95 -102.53 -16.49   2.65
         60    -56.64 -189.94  1450.20 -120.67 -12.50   4.70
         61   -118.16  -91.80  1229.49 -122.65   0.43   9.54
         62    -93.75  -47.85  1020.02 -112.96  11.43   9.09

[5344 rows x 6 columns]

In [1847]:
y_data_train

instance  time
21        0            Circle
          1            Circle
          2            Circle
          3            Circle
          4            Circle
                     ...
64        58      Up and down
          59      Up and down
          60      Up and down
          61      Up and down
          62      Up and down
Name: label, Length: 5344, dtype: object

In [1848]:
X_data_train.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 5344 entries, (21, 0) to (64, 62)
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   acc_x   5344 non-null   float64
 1   acc_y   5344 non-null   float64
 2   acc_z   5344 non-null   float64
 3   gyr_x   5344 non-null   float64
 4   gyr_y   5344 non-null   float64
 5   gyr_z   5344 non-null   float64
dtypes: float64(6)
memory usage: 268.5 KB

In [1849]:
check_is_mtype(X_data_train, "nested_univ")

False

In [1850]:
y_data_train.info()

<class 'pandas.core.series.Series'>
MultiIndex: 5344 entries, (21, 0) to (64, 62)
Series name: label
Non-Null Count  Dtype
--------------  -----
5344 non-null   object
dtypes: object(1)
memory usage: 59.7+ KB

In [1853]:
print(len(X_data_train), len(y_data_train))

5344 5344

In [1851]:
rocket = RocketClassifier(n_features_per_kernel=6, n_jobs=-1, random_state=42)

In [1852]:
rocket.fit(X_data_train, y_data_train)

ValueError: Mismatch in number of cases. Number in X = 54 nos in y = 5344