In [310]:
!pip install sktime

Requirement already satisfied: sktime in c:\users\danne\anaconda3\lib\site-packages (0.36.0)
Requirement already satisfied: joblib<1.5,>=1.2.0 in c:\users\danne\anaconda3\lib\site-packages (from sktime) (1.4.2)
Requirement already satisfied: numpy<2.3,>=1.21 in c:\users\danne\anaconda3\lib\site-packages (from sktime) (1.26.4)
Requirement already satisfied: packaging in c:\users\danne\anaconda3\lib\site-packages (from sktime) (24.1)
Requirement already satisfied: pandas<2.3.0,>=1.1 in c:\users\danne\anaconda3\lib\site-packages (from sktime) (2.2.2)
Requirement already satisfied: scikit-base<0.13.0,>=0.6.1 in c:\users\danne\anaconda3\lib\site-packages (from sktime) (0.12.0)
Requirement already satisfied: scikit-learn<1.7.0,>=0.24 in c:\users\danne\anaconda3\lib\site-packages (from sktime) (1.5.1)
Requirement already satisfied: scipy<2.0.0,>=1.2 in c:\users\danne\anaconda3\lib\site-packages (from sktime) (1.13.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\danne\anaconda3\lib\site-packages (from pandas<2.3.0,>=1.1->sktime) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\danne\anaconda3\lib\site-packages (from pandas<2.3.0,>=1.1->sktime) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\danne\anaconda3\lib\site-packages (from pandas<2.3.0,>=1.1->sktime) (2023.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\danne\anaconda3\lib\site-packages (from scikit-learn<1.7.0,>=0.24->sktime) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\danne\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas<2.3.0,>=1.1->sktime) (1.16.0)

In [311]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from time import sleep
from sklearn.utils import shuffle
from sklearn.metrics import accuracy_score
from sktime.classification.kernel_based import RocketClassifier
from sktime.datatypes import convert_to
from sktime.datatypes._panel._convert import from_nested_to_3d_numpy
from sktime.datatypes import check_is_mtype

In [312]:
nr_of_samples_in_one_batch = 100

In [313]:
def convert(df, list_cols=None, label_col='label'):
    if list_cols is None:
        list_cols = ['acc_x', 'acc_y', 'acc_z', 'gyr_x', 'gyr_y', 'gyr_z']

    # 1. Reset index so we have a 'instance' column
    df = df.reset_index(drop=True).rename_axis('instance').reset_index()

    # 2. Explode list columns
    df = df.explode(list_cols, ignore_index=True)

    # 3. Create a 'time' column for each exploded element
    df['time'] = df.groupby('instance').cumcount()

    # 4. Set a MultiIndex of (instance, time)
    df = df.set_index(['instance', 'time'])

    # 5. Convert all non-label columns to float
    numeric_cols = [col for col in df.columns if col != label_col]
    df[numeric_cols] = df[numeric_cols].astype(float)

    return df

In [314]:
def read_X_samples(X, nr, samples):
    return samples.iloc[(nr*X):(nr*X+X), :]

In [315]:
def addEntryToDataFrame(df, data, label):
    new_entry = {f"feature_{i}": [np.array(data.iloc[:, i].values, dtype=np.float64)]  # Wrap in list
                 for i in range(data.shape[1])}
    new_entry["label"] = [label]  # Wrap label in list
    
    # Convert to DataFrame
    df_entry = pd.DataFrame(new_entry)

    # Concatenate
    df = pd.concat([df, df_entry], ignore_index=True)
    return df

In [316]:
def concatenate_dataFrames(dF1, dF2):
    frame = [dF1, dF2]
    return pd.concat(frame, ignore_index=True)

In [317]:
def renameFeatures(dF):
    preferred_names = ["acc_x", "acc_y", "acc_z", "gyr_x", "gyr_y", "gyr_z", "label"]
    dF.columns = preferred_names[:len(preferred_names)]
    return dF

In [318]:
def addWholeDatasetToDataFrame(dF, data, label):
    nr_of_batches = round(data.dropna(how='all').shape[0] / nr_of_samples_in_one_batch)
    
    for i in range(nr_of_batches):
        batch = read_X_samples(nr_of_samples_in_one_batch, i, data)
        dF = addEntryToDataFrame(dF, batch, label)
    dF = renameFeatures(dF)
    return dF

In [319]:
def readFile_addToDataFrame(filename, dF, label_name):
    motion = pd.read_csv(filename, na_filter=False, sep=r"\s+", header=None, dtype=np.float64)
    dF = addWholeDatasetToDataFrame(dF, motion, label_name)
    dF["label"] = dF["label"].astype("category")
    return dF

In [320]:
def shuffle_instances(df):
    # Get unique instance values and shuffle them
    shuffled_instances = shuffle(df.index.levels[0])  # Shuffle the instances
    
    # Reorder the DataFrame based on shuffled instances while keeping time order intact
    df_shuffled = pd.concat([df.loc[i] for i in shuffled_instances], keys=shuffled_instances)

    return df_shuffled

In [321]:
dF_updown = pd.DataFrame()
dF_circles = pd.DataFrame()

In [322]:
dF_updown = readFile_addToDataFrame('up_down3.txt', dF_updown, 'Up and down')
dF_circles = readFile_addToDataFrame('circles3.txt', dF_circles, 'Circle')

In [323]:
dF_updown['acc_x'].dtype, dF_updown['acc_x'][0].dtype, dF_updown['label'].dtype

(dtype('O'),
 dtype('float64'),
 CategoricalDtype(categories=['Up and down'], ordered=False, categories_dtype=object))

In [324]:
print(check_is_mtype(dF_updown, "nested_univ")) # Check if type is correct for sktime

False

In [325]:
print(type(dF_updown.iloc[0, 0]))

<class 'numpy.ndarray'>

In [326]:
dF_updown.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   acc_x   50 non-null     object
 1   acc_y   50 non-null     object
 2   acc_z   50 non-null     object
 3   gyr_x   50 non-null     object
 4   gyr_y   50 non-null     object
 5   gyr_z   50 non-null     object
 6   label   50 non-null     category
dtypes: category(1), object(6)
memory usage: 2.6+ KB

In [327]:
dF_circles

,acc_x,acc_y,acc_z,gyr_x,gyr_y,gyr_z,label
0,"[-10.74, -23.93, -10.25, -13.67, -12.21, -27.8...","[-6.84, 4.39, 5.86, -3.91, -4.39, -5.86, -3.42...","[1033.2, 1035.64, 1040.53, 1021.48, 1044.92, 1...","[-1.49, -2.07, -0.27, -1.49, -0.55, -0.85, 0.9...","[-2.68, -1.19, -1.55, -0.61, -2.07, -3.41, -1....","[-1.13, 1.8, 0.03, -1.89, 0.24, -0.55, 1.34, 0...",Circle
1,"[-31.25, -12.7, -11.23, -9.28, -14.65, -14.65,...","[-0.49, 13.18, 2.93, -4.39, 1.95, 0.49, 5.37, ...","[1034.18, 1036.62, 1034.67, 1033.2, 1042.48, 1...","[-3.57, -1.22, 0.09, -2.5, -3.6, -0.76, -1.25,...","[-1.86, -3.29, -0.3, 0.73, -1.89, -0.88, -0.88...","[-1.04, -0.49, -0.43, -1.4, 1.13, 0.03, -1.01,...",Circle
2,"[-23.44, -23.44, -17.09, 4.39, -17.58, -26.86,...","[-2.44, 4.88, 4.88, 2.93, 0.0, 9.77, 0.98, -1....","[1031.74, 1047.36, 1036.13, 1029.79, 1043.95, ...","[0.27, 0.49, 1.31, -1.22, -0.52, -0.73, -1.16,...","[-3.05, -3.35, -1.68, -1.31, -0.15, -2.9, -0.9...","[-1.98, -0.7, -0.09, -0.09, -1.46, 0.34, -1.16...",Circle
3,"[-22.95, -20.51, -16.6, -22.46, 5.37, -14.16, ...","[8.79, 0.0, 5.37, -3.42, -3.42, -13.18, -5.37,...","[1047.36, 1042.48, 1041.02, 1045.9, 1022.95, 1...","[-2.44, -0.34, -0.98, -0.12, 0.7, -0.27, -0.03...","[-2.01, -0.43, -2.65, -2.8, -2.62, -1.95, -0.9...","[0.15, 0.37, 0.15, 2.1, 2.5, -0.46, -1.55, -1....",Circle
4,"[-25.88, -21.0, -18.55, -19.04, -2.44, -9.77, ...","[-1.95, -0.49, -6.35, 4.88, 2.93, 1.46, 7.32, ...","[1041.99, 1042.97, 1042.97, 1044.92, 1048.34, ...","[-2.35, -1.83, 0.09, -1.37, -0.34, -0.3, 0.3, ...","[-0.82, -0.4, 0.24, -1.65, 1.19, -1.8, -1.52, ...","[-0.43, -0.06, -2.04, -1.68, -1.13, 1.71, 1.31...",Circle
5,"[-11.72, -19.04, -18.55, -14.65, -18.07, -18.0...","[1.95, 8.3, -6.35, 0.0, -7.32, 9.28, 9.77, 5.8...","[1040.53, 1036.62, 1040.53, 1043.95, 1033.2, 1...","[-1.1, -3.05, -0.27, -1.19, -1.34, -3.48, -1.4...","[-2.96, -1.74, -2.62, -1.19, -1.22, -0.55, -2....","[0.34, -0.15, -0.58, -2.2, 0.34, -0.18, -2.53,...",Circle
6,"[-134.28, -47.36, 18.07, -64.94, -104.0, -161....","[-163.57, -207.03, -194.34, 38.09, -118.65, 23...","[794.92, 952.64, 991.7, 1023.93, 947.27, 910.1...","[2.8, -1.89, -3.02, -0.12, 0.0, -10.0, -1.74, ...","[-2.74, -2.1, -1.13, -7.2, 2.16, 2.84, -1.89, ...","[16.98, 17.68, 41.8, 4.63, -3.14, -22.71, -25....",Circle
7,"[-10.25, -12.7, -18.55, -24.9, -31.25, -16.11,...","[15.14, 6.84, 13.18, -3.42, 5.86, 1.46, 4.88, ...","[1030.76, 1036.13, 1024.41, 1037.6, 1035.64, 1...","[-1.77, -2.44, -0.61, -2.59, -3.99, -2.35, -1....","[0.49, -0.06, -0.98, -3.66, -2.65, -2.1, -0.85...","[-0.06, 1.13, -0.61, -0.46, -3.2, -0.21, 1.52,...",Circle
8,"[-270.02, -398.44, -330.57, -349.12, -327.15, ...","[-180.18, -160.16, -48.83, -33.2, -166.02, -15...","[911.13, 1018.55, 925.78, 1090.82, 908.2, 910....","[-25.61, -6.77, -5.12, -2.38, -6.98, -2.8, -6....","[1.34, -7.84, -0.98, -0.37, 8.93, -2.96, -4.21...","[58.38, 55.34, 36.19, 42.99, 39.36, 26.62, -1....",Circle
9,"[-237.3, -331.54, 125.0, -130.37, 168.95, 250....","[321.78, -758.3, 325.2, 455.57, 442.87, 343.75...","[2015.14, 2221.19, 1061.04, 1165.04, 837.89, 1...","[-18.57, -5.24, -0.55, -1.4, 4.27, 7.04, -1.52...","[0.88, -12.2, -10.03, -10.49, 10.43, 1.68, -18...","[-10.61, -10.55, -85.37, -85.88, -80.7, -75.12...",Circle
10,"[-55.66, -88.87, -81.54, 250.98, 90.82, 447.75...","[365.23, 295.9, 395.02, 353.03, 208.98, 289.06...","[876.46, 1277.34, 1112.3, 1277.83, 1146.0, 835...","[5.3, 1.95, -4.57, 6.34, -4.85, -5.67, 5.09, 1...","[2.71, -6.92, 1.34, 7.84, 2.07, -0.3, 3.81, -4...","[-73.38, -73.23, -51.01, -38.32, -24.39, 0.73,...",Circle
11,"[24.9, 78.61, 75.2, 62.01, 141.11, 233.4, 39.5...","[280.27, 354.98, -112.79, 13.18, 505.37, 301.7...","[1076.17, 1063.96, 1497.07, 1222.66, 1135.25, ...","[-8.32, -9.27, -7.41, -0.95, -0.95, 3.2, -2.07...","[6.59, -7.16, -7.32, -4.97, 4.12, 0.4, -10.34,...","[-48.69, -29.42, -35.46, -38.02, -8.2, -24.18,...",Circle
12,"[127.44, 129.39, 113.28, 287.11, -62.5, -91.8,...","[-104.49, -152.34, -26.86, -342.77, -309.08, -...","[1282.71, 1236.82, 1041.99, 1047.85, 1271.97, ...","[6.1, 4.02, -0.82, 2.13, 3.17, -3.29, -2.47, -...","[-0.88, -3.02, -1.65, -1.8, 5.18, -10.55, -3.6...","[21.49, 9.05, 5.37, 11.04, 18.54, 19.42, 48.69...",Circle
13,"[440.43, 472.17, 27.83, 245.12, 80.57, 135.74,...","[47.85, 185.55, 42.97, -241.7, -294.92, -251.9...","[848.63, 918.95, 985.35, 996.09, 1031.74, 616....","[-6.28, -2.41, -6.28, 6.92, 2.84, -9.54, -3.14...","[-1.8, 3.23, -11.34, 1.34, -8.84, 7.68, 9.48, ...","[14.66, 19.76, 30.98, 31.37, 4.21, 32.16, 68.8...",Circle
14,"[183.59, 310.55, 300.78, 284.18, 381.35, 382.3...","[163.57, 203.61, 166.5, 204.59, -142.09, -214....","[1145.02, 1016.6, 1049.32, 768.07, 1180.66, 96...","[4.21, -4.94, 3.38, -5.3, -0.91, 3.75, 17.23, ...","[6.31, -6.49, -10.4, 2.29, -18.51, 7.5, -0.21,...","[-32.35, -15.58, 6.07, 5.18, 5.0, -4.76, -0.18...",Circle
15,"[165.53, 42.48, 27.34, 104.98, 312.01, 277.34,...","[495.61, 245.12, 297.36, 270.51, -5.37, 58.59,...","[1125.49, 937.5, 1203.61, 897.46, 1138.18, 116...","[-0.55, -1.92, 10.0, -8.99, 16.04, -1.77, 9.24...","[11.28, 8.32, -12.04, -8.11, -9.33, -10.15, -8...","[-40.43, -43.29, -39.27, -19.05, -25.09, -29.4...",Circle
16,"[65.92, -146.97, 344.24, 263.18, 597.17, 211.4...","[413.09, 333.5, 466.8, 136.72, 182.62, 269.53,...","[1172.36, 1191.89, 1235.84, 1084.96, 925.29, 1...","[4.15, -9.3, 12.47, 11.98, 7.1, -2.13, 0.76, -...","[-14.97, -0.7, -3.05, -1.83, -6.46, -4.45, -15...","[-56.8, -11.92, -62.68, -37.07, -38.63, -38.32...",Circle
17,"[-197.75, -149.9, -436.52, -373.05, -367.19, -...","[64.45, 17.58, -1.46, 201.66, 94.24, 417.48, 1...","[1074.22, 1028.32, 1038.09, 1002.44, 1160.64, ...","[-3.96, -8.48, -10.46, -0.7, -9.36, 1.95, 0.7,...","[-2.68, 2.38, 4.27, -9.54, 14.85, -11.13, -0.2...","[16.37, 17.93, 0.61, -30.49, -20.46, -40.79, -...",Circle
18,"[-64.94, -49.32, 40.53, -103.52, -246.09, -153...","[-434.57, -254.88, -287.11, -144.04, -209.96, ...","[1245.61, 1393.07, 850.59, 1025.88, 1067.87, 9...","[4.54, 3.75, -1.83, -10.0, -3.93, 6.59, -10.43...","[-12.53, -1.49, 4.05, -7.53, 8.75, 0.76, -2.87...","[33.02, 25.21, 44.42, 49.05, 29.54, 12.68, 23....",Circle
19,"[83.01, -242.19, -272.46, -353.52, -265.14, -4...","[-24.41, -49.32, -0.98, -20.02, -171.87, -71.7...","[869.14, 1037.11, 799.8, 979.98, 937.99, 1001....","[-10.52, -17.84, -2.84, -8.78, -5.49, -3.35, -...","[5.82, 0.34, -1.25, -4.91, -5.67, -5.88, -1.46...","[65.55, 48.99, 55.15, 46.89, 27.53, 39.63, 41....",Circle
20,"[-161.13, -63.48, -328.61, -228.52, -268.55, -...","[-183.11, -310.55, -58.59, 41.02, -185.55, -12...","[1045.41, 1089.36, 1042.97, 877.93, 752.93, 70...","[-5.06, -3.17, -4.97, -9.12, 1.95, -2.29, -8.8...","[-4.3, -6.13, -3.69, 11.04, 4.3, 2.16, -3.81, ...","[28.32, 46.46, 41.19, 48.57, 23.84, 25.67, 49....",Circle
21,"[125.49, -49.8, -38.09, -181.15, 43.95, -219.2...","[50.29, -606.45, -313.48, -141.6, -251.46, -13...","[1039.55, 1227.54, 941.41, 1129.88, 783.2, 933...","[-18.72, 4.57, -5.61, -10.82, -8.29, -12.65, -...","[3.29, -7.93, -6.1, -15.37, 1.22, -5.85, -7.87...","[11.04, -20.7, 1.16, -11.16, 20.06, 11.52, 22....",Circle
22,"[383.3, 284.67, 475.59, 511.72, 397.46, 183.11...","[-44.43, -195.8, -184.08, -135.74, -244.14, -1...","[1065.43, 1262.21, 953.12, 954.59, 1117.19, 93...","[4.15, -6.71, 1.92, -1.55, 0.46, 5.06, 8.05, 4...","[-4.12, -7.71, -14.09, 0.98, 3.02, -5.79, -1.4...","[-24.97, -4.21, -17.04, 6.19, 33.57, 24.63, 43...",Circle
23,"[215.82, 409.67, 278.32, 208.01, 456.05, 402.8...","[259.28, 142.09, 119.63, -189.45, -93.26, 41.9...","[1209.96, 871.58, 1011.23, 963.38, 1062.99, 90...","[3.99, -2.32, 8.6, 0.49, 3.57, -3.32, -5.85, -...","[0.15, 8.9, -3.87, 1.68, -3.99, 10.85, -0.46, ...","[-33.9, -16.46, -3.45, -14.88, -14.51, 13.45, ...",Circle
24,"[130.86, 125.0, 297.36, 350.59, 169.92, 279.79...","[325.2, 143.07, 407.71, 39.06, -14.16, 96.19, ...","[1071.78, 930.18, 946.29, 1076.17, 1127.44, 10...","[-2.07, -11.46, 2.2, -2.16, 2.23, -9.33, -2.59...","[1.43, 2.07, -4.24, -13.2, 0.91, -4.82, -2.16,...","[-55.3, -23.26, -5.79, -11.4, -23.87, -14.3, -...",Circle
25,"[-63.48, -173.83, -22.95, 24.41, 69.82, 109.37...","[483.89, 121.58, 315.43, 342.29, 144.04, 200.6...","[835.45, 899.41, 895.51, 1119.63, 1255.86, 923...","[-2.47, -7.01, 13.78, -6.31, 1.52, 4.39, -8.38...","[-4.73, 10.34, 2.5, 5.12, -7.44, 11.16, -1.49,...","[-35.3, -31.22, -45.09, -29.66, -86.55, -76.1,...",Circle
26,"[-156.74, -271.0, -245.12, -118.65, -293.46, -...","[329.59, 108.4, 191.41, 247.56, 300.78, 18.07,...","[1007.32, 1051.76, 1128.91, 925.78, 929.2, 140...","[1.95, 2.41, -2.99, 4.94, -2.84, 4.82, -0.91, ...","[-2.16, -4.05, 11.4, -3.14, 0.73, 14.36, 7.23,...","[1.49, -21.52, -3.87, -14.3, -8.9, -15.15, -4....",Circle
27,"[-467.77, -361.33, -458.01, -352.54, -276.37, ...","[-204.59, 52.25, 133.79, 215.33, 289.06, 452.6...","[789.06, 1070.8, 1116.21, 1021.97, 910.16, 106...","[2.47, 4.36, -3.32, -1.59, 5.46, 4.36, -7.65, ...","[-12.41, -0.12, -0.61, -13.29, -4.09, -4.94, -...","[-32.32, -54.39, -41.59, -40.76, -56.59, -67.9...",Circle
28,"[-575.2, -436.52, -360.84, -307.62, -459.47, -...","[138.18, 63.96, 44.43, 62.01, -83.98, 200.2, 3...","[1210.94, 957.52, 886.72, 942.38, 977.05, 1210...","[-6.86, -5.4, -10.49, -0.46, -4.33, 1.46, 4.42...","[0.95, -0.55, -3.6, -0.03, 0.06, -3.54, 1.89, ...","[-48.45, -33.63, -46.49, -40.27, -53.35, -71.8...",Circle
29,"[-370.61, -368.16, -283.2, -714.36, -415.53, -...","[-207.03, -227.05, -186.04, -73.24, 172.36, 26...","[1149.9, 1006.35, 798.83, 1545.9, 1069.34, 122...","[3.66, -9.24, 11.4, 5.64, 16.95, 0.06, -11.92,...","[-1.1, 16.95, 2.26, -15.06, -15.12, -14.97, 0....","[10.95, -12.96, -61.92, -101.01, -100.64, -55....",Circle
30,"[-217.29, -285.16, -416.5, -469.73, -494.63, -...","[-466.8, -295.9, -285.16, -119.14, -271.97, -1...","[880.37, 858.89, 1031.74, 993.65, 1043.95, 120...","[-12.16, 0.03, -6.46, -6.31, 0.88, 0.79, 15.58...","[-8.05, -9.54, 2.13, 8.05, -0.79, -3.32, -1.07...","[45.95, 42.41, 16.13, 15.79, -13.38, -37.65, -...",Circle
31,"[-39.06, -98.63, 9.28, -275.88, -431.64, -483....","[-327.64, -191.41, -322.27, -481.93, -487.3, -...","[866.7, 936.52, 1056.15, 1204.59, 982.42, 1227...","[-2.5, 0.67, 1.43, 1.49, -9.94, 7.44, -23.02, ...","[-1.71, -9.12, -3.72, -4.79, -19.24, -14.54, 5...","[50.88, 50.64, 24.76, 28.2, 7.26, -15.4, -40.6...",Circle
32,"[41.02, 145.02, -18.55, -11.72, -31.25, -333.5...","[-176.27, -128.91, -260.25, -261.23, -484.37, ...","[1275.88, 1012.7, 990.23, 1087.89, 1001.46, 10...","[0.55, -5.46, -3.93, -11.16, -7.74, -3.75, -9....","[7.93, 0.34, 7.5, 8.14, -16.16, 6.62, 1.19, -6...","[62.2, 95.49, 84.7, 84.76, 98.14, 76.86, 61.89...",Circle
33,"[506.84, 79.1, 119.63, 47.36, 265.62, 20.51, -...","[129.88, 146.48, 21.0, -158.2, -444.34, -405.2...","[1001.95, 1145.02, 1028.32, 1142.58, 1027.83, ...","[5.18, 0.03, -3.9, -3.81, 7.47, 5.27, -1.13, -...","[-5.03, 0.03, -18.02, 2.13, 1.1, -9.39, -14.57...","[61.65, 76.28, 93.32, 125.64, 113.23, 102.71, ...",Circle
34,"[340.82, 280.27, 328.12, 245.12, 54.2, 62.99, ...","[313.48, -16.6, 260.74, 33.69, -191.89, -277.3...","[686.52, 1173.83, 1026.37, 1088.38, 1473.14, 1...","[5.18, 3.87, -13.05, 1.83, -5.98, -3.9, 8.41, ...","[-9.6, 2.04, -0.95, 1.4, -13.51, 2.96, -7.71, ...","[16.74, 36.22, 47.04, 86.55, 89.21, 81.62, 80....",Circle
35,"[74.71, 336.91, 374.51, 436.04, 286.62, 373.05...","[452.15, 285.16, 352.05, 255.86, 152.83, 69.82...","[1093.75, 1005.37, 1017.09, 999.02, 1064.45, 7...","[-5.55, -6.01, 17.84, 16.8, -3.2, 3.81, 6.8, -...","[0.58, -4.3, -10.64, -1.13, -15.18, -12.99, -5...","[-6.19, -16.98, 4.66, 28.23, 44.18, 50.67, 78....",Circle
36,"[442.87, 407.23, 136.72, 321.29, 244.63, 448.2...","[257.32, 471.19, 185.55, 418.95, 311.04, 134.2...","[1062.5, 986.33, 1011.72, 921.39, 926.27, 1056...","[8.57, -2.93, 3.75, -0.27, -2.65, 1.01, 10.34,...","[-3.02, 4.45, 1.49, 3.48, -1.68, 3.66, 3.14, -...","[-43.29, -26.13, -35.98, -2.44, 25.52, 69.36, ...",Circle
37,"[-48.83, -97.66, 91.31, 170.9, 304.69, 461.43,...","[281.74, 231.93, 416.99, 251.95, 256.35, 328.1...","[1045.41, 1105.47, 1173.34, 963.87, 985.35, 92...","[4.42, 6.74, 9.66, 1.34, 20.46, 2.68, 3.54, 11...","[-10.21, 0.85, 4.73, -5.76, 2.26, -1.13, 5.0, ...","[-74.76, -85.21, -73.08, -55.64, -55.73, -41.9...",Circle
38,"[-138.67, -124.02, -79.1, 6.84, 289.06, 12.21,...","[338.38, 438.48, 293.95, 330.57, 322.75, 339.3...","[1223.14, 1171.88, 1194.34, 1033.69, 1057.13, ...","[6.34, 1.1, -10.49, 1.77, 6.28, 12.32, -5.24, ...","[-2.65, 0.95, -0.85, -7.01, 3.69, 1.46, -12.62...","[-84.15, -76.68, -39.36, -51.71, -73.48, -77.7...",Circle
39,"[-513.67, -722.17, -564.94, -465.82, -259.28, ...","[117.19, 324.22, 337.89, 221.19, 460.45, 472.6...","[1102.05, 1211.91, 993.65, 876.46, 1074.71, 88...","[3.72, -0.37, -3.29, 4.54, 8.75, -4.18, -17.53...","[-8.05, 0.88, 4.88, -7.5, -2.26, 6.95, -6.65, ...","[-135.06, -80.95, -101.98, -72.41, -84.36, -82...",Circle
40,"[-574.71, -241.7, -454.59, -224.12, -204.1, 93...","[318.85, 584.96, 582.03, 475.59, 541.5, 633.3,...","[1248.54, 953.61, 1186.52, 1170.41, 1061.52, 7...","[-7.16, -1.4, -4.39, 0.12, -5.0, -6.37, 1.95, ...","[-8.51, 8.48, -7.53, -2.04, 2.29, -6.65, 3.69,...","[-108.2, -73.54, -72.99, -59.51, -54.21, -38.4...",Circle
41,"[-360.35, -144.53, -310.06, -317.87, -289.06, ...","[-276.86, 106.45, 206.54, 179.69, 79.1, 126.46...","[749.02, 869.14, 887.21, 983.4, 858.89, 1139.1...","[0.67, 12.74, -5.58, 2.71, -0.64, -7.8, 1.77, ...","[-5.61, -14.6, -14.09, -13.23, 14.33, 5.27, -1...","[-21.86, -69.82, -57.41, -57.29, -65.09, -44.9...",Circle
42,"[-41.99, -231.93, -510.74, -618.65, -723.14, -...","[-225.59, -343.26, -451.17, -268.55, -426.76, ...","[780.76, 1470.21, 1145.02, 1181.15, 1091.31, 9...","[-15.88, -3.84, 0.34, -0.15, -5.61, 3.11, -9.0...","[-14.79, 8.35, 5.52, 5.06, 19.33, -12.87, 5.61...","[72.13, 76.31, 59.76, 65.73, 65.73, 28.51, 54....",Circle
43,"[269.04, 367.19, 288.57, 132.81, 217.29, -158....","[237.3, 462.4, 320.8, 144.04, 13.18, -522.95, ...","[1306.15, 908.2, 1399.9, 1066.89, 1034.67, 136...","[-0.27, 0.18, -14.73, -1.55, -4.05, -6.95, 2.3...","[1.92, -5.03, 2.68, 8.48, -8.75, -4.05, -11.43...","[-62.9, 7.26, 66.28, 115.15, 134.3, 141.95, 13...",Circle
44,"[325.2, 244.63, 409.18, 272.46, 264.65, 14.16,...","[-54.2, 72.27, -243.16, -14.65, -113.77, -308....","[934.08, 1166.99, 1062.5, 985.84, 1093.75, 110...","[2.62, 0.15, -4.97, 3.51, 4.73, 17.1, 5.95, -1...","[8.81, -17.01, -5.64, -8.08, 2.01, 1.13, 0.76,...","[2.41, 4.18, 26.83, 20.58, 37.53, 43.08, 48.41...",Circle
45,"[143.07, 279.3, 416.5, 89.84, -7.81, 155.76, -...","[-64.94, 0.98, -229.49, -390.62, -124.02, -221...","[1135.74, 674.8, 974.61, 1278.32, 1062.5, 830....","[0.55, 13.17, -1.65, -3.35, 8.93, 12.77, -2.59...","[-8.48, 7.41, 1.37, -10.21, -1.52, 4.21, 10.3,...","[17.23, 8.48, 16.92, 47.93, 36.28, 46.04, 34.1...",Circle
46,"[200.2, 301.27, 230.47, 243.65, 50.29, 268.55,...","[-111.82, 4.39, -18.55, -125.98, -289.06, -55....","[934.08, 1045.41, 1354.49, 905.76, 1344.73, 11...","[-3.45, 3.9, -1.31, -8.32, 0.46, 5.64, 1.4, 5....","[-3.63, 7.32, 1.83, 7.35, -3.81, 10.09, 0.24, ...","[-30.24, -26.71, -10.61, 11.98, -2.35, 13.51, ...",Circle
47,"[435.55, 427.25, 248.05, 218.26, 237.79, 328.6...","[-137.7, -40.53, -192.87, 82.52, -168.95, -332...","[1006.35, 1165.04, 1102.54, 1028.32, 896.48, 9...","[-0.91, -7.87, 8.29, 0.7, -1.83, 8.23, -9.27, ...","[0.82, 2.93, 0.73, 6.92, -0.09, -5.21, -11.65,...","[-10.55, -0.43, -24.94, 20.79, 30.64, 33.66, 5...",Circle
48,"[324.22, 315.92, 282.71, -87.4, 139.65, -134.7...","[-233.4, -186.52, -145.51, -275.39, -130.37, -...","[1190.43, 788.09, 865.23, 1150.39, 929.2, 836....","[-1.01, 1.46, 9.76, -6.22, -6.74, 3.29, -6.65,...","[-0.73, -0.64, 6.65, 2.8, -6.25, -11.07, -14.6...","[21.83, 40.43, 20.64, 56.71, 53.35, 42.32, 66....",Circle
49,"[140.14, 46.39, 4.88, -68.85, -19.53, -140.62,...","[-228.03, -232.42, -238.77, -425.29, -415.53, ...","[1078.61, 1233.89, 1425.29, 944.34, 980.47, 92...","[8.84, -6.86, 6.19, -13.23, -8.87, -8.72, -4.3...","[-8.6, 3.51, -6.71, -4.05, 4.7, 3.05, -9.7, 9....","[2.53, 13.63, 31.55, 41.89, 57.68, 74.09, 39.2...",Circle
50,"[151.37, 336.91, -103.52, 6.84, 32.71, -53.22,...","[-81.05, -81.54, -268.55, -386.72, -251.46, -5...","[994.14, 945.31, 1158.69, 1122.07, 1021.0, 110...","[8.38, 4.63, -17.56, -3.35, 1.86, 0.61, -0.15,...","[-8.38, -6.86, -7.8, -9.54, -2.07, 3.54, -6.46...","[-19.24, 5.95, 17.84, 16.95, 48.14, 20.46, 14....",Circle

In [328]:
print(len(dF_circles.loc[0, 'acc_x']))

for i in range(33):
    print(len(dF_circles.loc[i, 'acc_x']))

print(dF_circles.loc[10, 'acc_x'])

100
100
100
100
100
100
100
100
100
100
100
100
100
100
100
100
100
100
100
100
100
100
100
100
100
100
100
100
100
100
100
100
100
100
[ -55.66  -88.87  -81.54  250.98   90.82  447.75  230.96  406.25  387.21
  169.92  112.79  -71.29  248.05  229.98   60.55   35.16   30.76 -129.39
 -144.53 -171.87 -238.77 -166.02 -154.3  -214.84 -235.84 -324.22  -37.6
 -179.2  -242.68 -468.26 -208.98 -289.06 -278.81 -227.05   19.53   -4.39
 -152.83  173.83  114.26  457.52  686.04  246.58  267.09  229.49  251.46
  553.71  201.66  161.13  120.12   49.8   -10.25  -30.27 -157.71 -133.79
 -160.16 -205.57 -247.07 -332.03 -284.18 -475.1  -219.24 -138.67 -155.27
   39.06   88.38  -57.62    1.46  -90.82  100.59 -175.78  265.62  129.39
  117.19  225.1   393.55  422.36  233.89  203.61  322.27  475.1    54.69
    9.28  139.16   13.18  -71.29 -305.18 -275.39 -363.77 -404.3  -371.09
 -383.3  -331.54 -420.41 -363.77 -326.17 -214.84  102.54  116.21  -33.69
  167.48]

In [329]:
totalDataFrame = concatenate_dataFrames(dF_circles, dF_updown)

In [330]:
dF_circles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   acc_x   51 non-null     object
 1   acc_y   51 non-null     object
 2   acc_z   51 non-null     object
 3   gyr_x   51 non-null     object
 4   gyr_y   51 non-null     object
 5   gyr_z   51 non-null     object
 6   label   51 non-null     category
dtypes: category(1), object(6)
memory usage: 2.7+ KB

In [331]:
dF_updown.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   acc_x   50 non-null     object
 1   acc_y   50 non-null     object
 2   acc_z   50 non-null     object
 3   gyr_x   50 non-null     object
 4   gyr_y   50 non-null     object
 5   gyr_z   50 non-null     object
 6   label   50 non-null     category
dtypes: category(1), object(6)
memory usage: 2.6+ KB

In [332]:
totalDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   acc_x   101 non-null    object
 1   acc_y   101 non-null    object
 2   acc_z   101 non-null    object
 3   gyr_x   101 non-null    object
 4   gyr_y   101 non-null    object
 5   gyr_z   101 non-null    object
 6   label   101 non-null    object
dtypes: object(7)
memory usage: 5.7+ KB

In [333]:
#for row in range(len(totalDataFrame)):
 #   print(totalDataFrame.iloc[row])

In [334]:
totalDataFrame

,acc_x,acc_y,acc_z,gyr_x,gyr_y,gyr_z,label
0,"[-10.74, -23.93, -10.25, -13.67, -12.21, -27.8...","[-6.84, 4.39, 5.86, -3.91, -4.39, -5.86, -3.42...","[1033.2, 1035.64, 1040.53, 1021.48, 1044.92, 1...","[-1.49, -2.07, -0.27, -1.49, -0.55, -0.85, 0.9...","[-2.68, -1.19, -1.55, -0.61, -2.07, -3.41, -1....","[-1.13, 1.8, 0.03, -1.89, 0.24, -0.55, 1.34, 0...",Circle
1,"[-31.25, -12.7, -11.23, -9.28, -14.65, -14.65,...","[-0.49, 13.18, 2.93, -4.39, 1.95, 0.49, 5.37, ...","[1034.18, 1036.62, 1034.67, 1033.2, 1042.48, 1...","[-3.57, -1.22, 0.09, -2.5, -3.6, -0.76, -1.25,...","[-1.86, -3.29, -0.3, 0.73, -1.89, -0.88, -0.88...","[-1.04, -0.49, -0.43, -1.4, 1.13, 0.03, -1.01,...",Circle
2,"[-23.44, -23.44, -17.09, 4.39, -17.58, -26.86,...","[-2.44, 4.88, 4.88, 2.93, 0.0, 9.77, 0.98, -1....","[1031.74, 1047.36, 1036.13, 1029.79, 1043.95, ...","[0.27, 0.49, 1.31, -1.22, -0.52, -0.73, -1.16,...","[-3.05, -3.35, -1.68, -1.31, -0.15, -2.9, -0.9...","[-1.98, -0.7, -0.09, -0.09, -1.46, 0.34, -1.16...",Circle
3,"[-22.95, -20.51, -16.6, -22.46, 5.37, -14.16, ...","[8.79, 0.0, 5.37, -3.42, -3.42, -13.18, -5.37,...","[1047.36, 1042.48, 1041.02, 1045.9, 1022.95, 1...","[-2.44, -0.34, -0.98, -0.12, 0.7, -0.27, -0.03...","[-2.01, -0.43, -2.65, -2.8, -2.62, -1.95, -0.9...","[0.15, 0.37, 0.15, 2.1, 2.5, -0.46, -1.55, -1....",Circle
4,"[-25.88, -21.0, -18.55, -19.04, -2.44, -9.77, ...","[-1.95, -0.49, -6.35, 4.88, 2.93, 1.46, 7.32, ...","[1041.99, 1042.97, 1042.97, 1044.92, 1048.34, ...","[-2.35, -1.83, 0.09, -1.37, -0.34, -0.3, 0.3, ...","[-0.82, -0.4, 0.24, -1.65, 1.19, -1.8, -1.52, ...","[-0.43, -0.06, -2.04, -1.68, -1.13, 1.71, 1.31...",Circle
...,...,...,...,...,...,...,...
96,"[-38.09, -32.23, -45.9, -85.94, -72.27, -62.99...","[47.36, 38.57, 63.96, 79.1, 93.75, 64.94, 50.2...","[41.02, 26.86, -40.53, 27.83, 111.33, 312.01, ...","[-22.74, -4.05, 19.21, 45.03, 72.04, 92.32, 96...","[-6.22, -11.77, -23.87, -25.82, -17.01, -9.7, ...","[13.69, 22.26, 24.3, 19.97, 15.21, 16.8, 22.71...",Up and down
97,"[59.57, 64.45, 15.14, 9.77, 66.41, 78.12, 81.5...","[-326.17, -416.5, -371.58, -437.99, -453.61, -...","[2240.23, 2333.98, 2222.17, 2174.32, 2114.75, ...","[80.91, 47.87, 26.92, 8.66, -21.49, -52.35, -7...","[0.55, -24.7, -16.01, 17.2, 28.87, 27.53, 17.5...","[-22.01, -24.42, -13.9, 2.01, 6.98, 5.67, 5.37...",Up and down
98,"[-80.57, -89.84, -91.31, -125.49, -115.23, -10...","[18.07, 80.08, 60.06, 57.13, 58.59, 69.82, 85....","[378.91, 230.96, 104.0, 48.83, -34.67, -85.94,...","[-109.36, -88.17, -60.12, -33.78, -7.65, 17.99...","[6.1, 5.34, 4.48, 5.37, -1.22, -6.07, -6.62, -...","[6.65, 5.91, 9.33, 10.61, 13.41, 5.34, 2.07, -...",Up and down
99,"[-38.57, 16.11, -22.95, -56.64, -67.87, -28.81...","[-39.06, -76.66, -103.52, -203.12, -209.47, -2...","[1783.69, 1958.01, 2212.89, 2287.6, 2137.7, 20...","[102.47, 71.83, 42.26, 26.95, 18.78, 2.38, -21...","[-47.1, -61.98, -51.1, -39.91, -7.53, 25.49, 3...","[-13.26, -23.93, -29.88, -27.59, -8.11, 2.62, ...",Up and down
100,"[49.32, 32.23, 101.07, 104.0, 55.18, -28.32, -...","[114.75, 117.68, 97.17, 128.91, 150.88, 111.82...","[182.62, 107.42, -12.7, -123.05, -167.97, -157...","[-94.21, -58.87, -19.76, 5.24, 31.95, 54.05, 6...","[8.29, 23.75, 29.18, 10.67, -14.27, -26.37, -2...","[4.36, 18.2, 31.95, 31.68, 31.62, 17.04, 4.33,...",Up and down

In [335]:
totalDataFrame = convert(totalDataFrame)

In [336]:
totalDataFrame

               acc_x  acc_y    acc_z   gyr_x  gyr_y  gyr_z        label
instance time
0        0    -10.74  -6.84  1033.20   -1.49  -2.68  -1.13       Circle
         1    -23.93   4.39  1035.64   -2.07  -1.19   1.80       Circle
         2    -10.25   5.86  1040.53   -0.27  -1.55   0.03       Circle
         3    -13.67  -3.91  1021.48   -1.49  -0.61  -1.89       Circle
         4    -12.21  -4.39  1044.92   -0.55  -2.07   0.24       Circle
...              ...    ...      ...     ...    ...    ...          ...
100      95   -41.02  25.88   138.18   94.97  -7.41  13.81  Up and down
         96   -49.80  50.29   308.11  111.16   0.58  17.90  Up and down
         97   -49.80  18.07   653.32  105.79  -2.93  15.49  Up and down
         98     3.42  33.20   942.38   95.82 -15.12  22.56  Up and down
         99   -19.53  45.90  1196.29   99.82 -39.24  18.60  Up and down

[10100 rows x 7 columns]

In [337]:
totalDataFrame_shuffled = shuffle_instances(totalDataFrame)

In [338]:
totalDataFrame_shuffled

                acc_x   acc_y    acc_z  gyr_x  gyr_y  gyr_z   label
instance time
3        0     -22.95    8.79  1047.36  -2.44  -2.01   0.15  Circle
         1     -20.51    0.00  1042.48  -0.34  -0.43   0.37  Circle
         2     -16.60    5.37  1041.02  -0.98  -2.65   0.15  Circle
         3     -22.46   -3.42  1045.90  -0.12  -2.80   2.10  Circle
         4       5.37   -3.42  1022.95   0.70  -2.62   2.50  Circle
...               ...     ...      ...    ...    ...    ...     ...
14       95    -21.97  313.96   784.18  -5.06  13.66 -49.18  Circle
         96      1.46  443.36   990.72 -12.47 -18.54 -40.67  Circle
         97     64.45  288.09  1194.34   6.34   0.76 -36.62  Circle
         98    317.38  447.27  1353.52  -1.16   0.98 -28.14  Circle
         99    213.87  242.19  1116.70  -6.86  13.48 -40.88  Circle

[10100 rows x 7 columns]

In [339]:
# Get unique instances
unique_instances = totalDataFrame_shuffled.index.get_level_values('instance').unique()

# Compute the number of instances to take
num_instances = int(0.15 * len(unique_instances))

# Select the first 15% of instances
selected_instances = unique_instances[:num_instances]

# Create test dataframe
test_dataframe = totalDataFrame_shuffled.loc[selected_instances]

totalDataFrame_shuffled = totalDataFrame_shuffled.drop(index=selected_instances, level='instance')

In [340]:
totalDataFrame_shuffled

                acc_x   acc_y    acc_z  gyr_x  gyr_y  gyr_z   label
instance time
1        0     -31.25   -0.49  1034.18  -3.57  -1.86  -1.04  Circle
         1     -12.70   13.18  1036.62  -1.22  -3.29  -0.49  Circle
         2     -11.23    2.93  1034.67   0.09  -0.30  -0.43  Circle
         3      -9.28   -4.39  1033.20  -2.50   0.73  -1.40  Circle
         4     -14.65    1.95  1042.48  -3.60  -1.89   1.13  Circle
...               ...     ...      ...    ...    ...    ...     ...
14       95    -21.97  313.96   784.18  -5.06  13.66 -49.18  Circle
         96      1.46  443.36   990.72 -12.47 -18.54 -40.67  Circle
         97     64.45  288.09  1194.34   6.34   0.76 -36.62  Circle
         98    317.38  447.27  1353.52  -1.16   0.98 -28.14  Circle
         99    213.87  242.19  1116.70  -6.86  13.48 -40.88  Circle

[8600 rows x 7 columns]

In [341]:
test_dataframe

                acc_x  acc_y    acc_z  gyr_x  gyr_y  gyr_z        label
instance time
3        0     -22.95   8.79  1047.36  -2.44  -2.01   0.15       Circle
         1     -20.51   0.00  1042.48  -0.34  -0.43   0.37       Circle
         2     -16.60   5.37  1041.02  -0.98  -2.65   0.15       Circle
         3     -22.46  -3.42  1045.90  -0.12  -2.80   2.10       Circle
         4       5.37  -3.42  1022.95   0.70  -2.62   2.50       Circle
...               ...    ...      ...    ...    ...    ...          ...
60       95   -115.23 -72.27   253.42 -23.90 -18.84   0.40  Up and down
         96   -105.47  41.50   135.25 -11.40 -11.74 -11.10  Up and down
         97   -125.49  35.64   179.69   5.06   1.16 -13.14  Up and down
         98    -62.99   9.77   161.13  32.20   3.32   1.86  Up and down
         99     11.72 -15.63   189.94  48.41   1.68  -2.20  Up and down

[1500 rows x 7 columns]

In [342]:
# Now separate features (X) and labels (y).
# Each instance's label is constant across time steps,
# so we typically grab the first label for each instance.
y_train = totalDataFrame_shuffled.groupby('instance')['label'].first()
X_train = totalDataFrame_shuffled.drop(columns=['label'])
X_train = X_train.astype(float)

y_test = test_dataframe.groupby('instance')['label'].first()
X_test = test_dataframe.drop(columns=['label'])
X_test = X_test.astype(float)


rocket = RocketClassifier()

In [366]:
y_train

instance
0           Circle
1           Circle
2           Circle
4           Circle
5           Circle
          ...
95     Up and down
96     Up and down
98     Up and down
99     Up and down
100    Up and down
Name: label, Length: 86, dtype: object

In [368]:
X_train

                acc_x   acc_y    acc_z  gyr_x  gyr_y  gyr_z
instance time
1        0     -31.25   -0.49  1034.18  -3.57  -1.86  -1.04
         1     -12.70   13.18  1036.62  -1.22  -3.29  -0.49
         2     -11.23    2.93  1034.67   0.09  -0.30  -0.43
         3      -9.28   -4.39  1033.20  -2.50   0.73  -1.40
         4     -14.65    1.95  1042.48  -3.60  -1.89   1.13
...               ...     ...      ...    ...    ...    ...
14       95    -21.97  313.96   784.18  -5.06  13.66 -49.18
         96      1.46  443.36   990.72 -12.47 -18.54 -40.67
         97     64.45  288.09  1194.34   6.34   0.76 -36.62
         98    317.38  447.27  1353.52  -1.16   0.98 -28.14
         99    213.87  242.19  1116.70  -6.86  13.48 -40.88

[8600 rows x 6 columns]

In [343]:
print("Train: ", len(X_train), len(y_train))
print("Test: ", len(X_test), len(y_test))

Train:  8600 86
Test:  1500 15

In [344]:
# Fit RocketClassifier
rocket.fit(X_train, y_train)

print("Fit successful!")

Fit successful!

In [345]:
y_pred = rocket.predict(X_test)

In [346]:
y_pred

array(['Circle', 'Circle', 'Circle', 'Up and down', 'Up and down',
       'Circle', 'Up and down', 'Up and down', 'Up and down',
       'Up and down', 'Circle', 'Circle', 'Circle', 'Circle',
       'Up and down'], dtype='<U11')

In [347]:
y_test

instance
3          Circle
16         Circle
20         Circle
22         Circle
25         Circle
41         Circle
43         Circle
45         Circle
57    Up and down
58    Up and down
60    Up and down
67    Up and down
70    Up and down
74    Up and down
97    Up and down
Name: label, dtype: object

In [348]:
####################################

In [349]:
totalDataFrame_shuffled.loc[39]

       acc_x   acc_y    acc_z  gyr_x  gyr_y   gyr_z   label
time
0    -513.67  117.19  1102.05   3.72  -8.05 -135.06  Circle
1    -722.17  324.22  1211.91  -0.37   0.88  -80.95  Circle
2    -564.94  337.89   993.65  -3.29   4.88 -101.98  Circle
3    -465.82  221.19   876.46   4.54  -7.50  -72.41  Circle
4    -259.28  460.45  1074.71   8.75  -2.26  -84.36  Circle
...      ...     ...      ...    ...    ...     ...     ...
95   -358.89 -335.45   996.58   3.41   3.75   28.63  Circle
96   -294.92  -74.22  1182.13  -4.15  -7.59   12.77  Circle
97   -372.56 -192.87   869.63  -7.68  -1.01    4.05  Circle
98   -371.09 -399.41   973.63 -17.26   2.90  -43.23  Circle
99   -358.40   35.64  1126.46   9.85  -3.84 -103.02  Circle

[100 rows x 7 columns]

In [350]:
y_data = totalDataFrame_shuffled['label']

In [351]:
X_data = totalDataFrame_shuffled.drop('label', axis=1)

In [352]:
y_data

instance  time
1         0       Circle
          1       Circle
          2       Circle
          3       Circle
          4       Circle
                   ...
14        95      Circle
          96      Circle
          97      Circle
          98      Circle
          99      Circle
Name: label, Length: 8600, dtype: object

In [353]:
X_data

                acc_x   acc_y    acc_z  gyr_x  gyr_y  gyr_z
instance time
1        0     -31.25   -0.49  1034.18  -3.57  -1.86  -1.04
         1     -12.70   13.18  1036.62  -1.22  -3.29  -0.49
         2     -11.23    2.93  1034.67   0.09  -0.30  -0.43
         3      -9.28   -4.39  1033.20  -2.50   0.73  -1.40
         4     -14.65    1.95  1042.48  -3.60  -1.89   1.13
...               ...     ...      ...    ...    ...    ...
14       95    -21.97  313.96   784.18  -5.06  13.66 -49.18
         96      1.46  443.36   990.72 -12.47 -18.54 -40.67
         97     64.45  288.09  1194.34   6.34   0.76 -36.62
         98    317.38  447.27  1353.52  -1.16   0.98 -28.14
         99    213.87  242.19  1116.70  -6.86  13.48 -40.88

[8600 rows x 6 columns]

In [354]:
# ---------------------------------

In [355]:
X_data_train, X_data_test, y_data_train, y_data_test = train_test_split(
    X_data, y_data, test_size=0.2, random_state=42, shuffle=False
)

In [356]:
X_data_train

               acc_x  acc_y    acc_z   gyr_x  gyr_y  gyr_z
instance time
1        0    -31.25  -0.49  1034.18   -3.57  -1.86  -1.04
         1    -12.70  13.18  1036.62   -1.22  -3.29  -0.49
         2    -11.23   2.93  1034.67    0.09  -0.30  -0.43
         3     -9.28  -4.39  1033.20   -2.50   0.73  -1.40
         4    -14.65   1.95  1042.48   -3.60  -1.89   1.13
...              ...    ...      ...     ...    ...    ...
84       75    42.97  11.72   814.45 -105.76 -64.33  -9.85
         76    -4.39  65.92   550.29  -78.99 -78.81 -10.06
         77   -21.00  67.87   275.88  -61.34 -70.06  -1.98
         78   -42.48  23.44   140.62  -41.04 -58.17   0.67
         79   -43.95  28.81   -15.63  -26.04 -40.43   7.29

[6880 rows x 6 columns]

In [357]:
y_data_train

instance  time
1         0            Circle
          1            Circle
          2            Circle
          3            Circle
          4            Circle
                     ...
84        75      Up and down
          76      Up and down
          77      Up and down
          78      Up and down
          79      Up and down
Name: label, Length: 6880, dtype: object

In [358]:
X_data_train.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 6880 entries, (1, 0) to (84, 79)
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   acc_x   6880 non-null   float64
 1   acc_y   6880 non-null   float64
 2   acc_z   6880 non-null   float64
 3   gyr_x   6880 non-null   float64
 4   gyr_y   6880 non-null   float64
 5   gyr_z   6880 non-null   float64
dtypes: float64(6)
memory usage: 345.7 KB

In [359]:
check_is_mtype(X_data_train, "nested_univ")

False

In [360]:
y_data_train.info()

<class 'pandas.core.series.Series'>
MultiIndex: 6880 entries, (1, 0) to (84, 79)
Series name: label
Non-Null Count  Dtype
--------------  -----
6880 non-null   object
dtypes: object(1)
memory usage: 77.0+ KB

In [361]:
print(len(X_data_train), len(y_data_train))

6880 6880

In [362]:
rocket = RocketClassifier(n_features_per_kernel=6, n_jobs=-1, random_state=42)

In [363]:
y = df.groupby('instance')['label'].first()
X = df.drop(columns=['label'])

NameError: name 'df' is not defined

In [ ]:
rocket.fit(X_data_train, y_data_train)